<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置数据源 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- 配置连接池的大小 -->
		<property name="hibernate.connection.pool_size">5</property>
		<!-- 告知Hibernate链接的数据库使用的方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 禁用二级缓存 -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- 显示SQL语句 -->
		<property name="show_sql">true</property>
		<!-- 自动产生DDL语句 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 
			自动产生DDL语句可选值：
				create:每次都会先删除，再创建，代码运行完毕后表结构是存在。学习阶段用。
				create-drop：每次运行代码时，创建表结构，代码运行完毕后，删除表结构。学习阶段用。
				update：根据类和映射文件的变化，自动更新表结构。数据还在。（学习或实际运行采用）
				validate：验证类或映射文件与现有的表结构是否一致。
		 -->
		<!-- 格式化sql语句 -->
		<property name="hibernate.format_sql">true</property>
		<!-- 让事务自动提交 -->
		<property name="hibernate.connection.autocommit">false</property>
		
		<!-- 告知框架：映射文件在哪里 -->
		<mapping resource="cn/jd/hibernate/domain/Person-hbm.xml"/>
	</session-factory>
</hibernate-configuration>